.button {
  padding: 5px 10px;
  font-size: 1.2em;
  width: auto;
  background-color: #ded3a6;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
  }
}