.font404 {
    color: #605a49;
    font-size: 145px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}

.font404Text {

    font-size: 25px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

.font404TextMini {
    font-family: Arial, serif;
    font-size: 15px;
    margin-top: 20px;
}

.textCenter {
    text-align: center;
}

.font404TextMini a:hover {
    color: #a9a47c;
}

@media (max-width: 767px) {
    .font404 {
        font-size: 60px;
    }

    .font404Text {
        font-size: 20px;
    }
}